
body {
    background-image: url('./fondod.jpg');
    background-size: cover;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
}


#c {
    border: double 5px #ffffff;
    height: 90vh;
    width: 90vw ;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    flex-direction: column;
    background-color: rgba(0, 74, 175, 0.84);
    
}


.opc{
    
    width: 90%;
    height: 100px;
    background: url('./fondo_opc.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    border-radius: 15px;
    border: solid 3px white;
    
    
}


#barra{
    
    width: 90%;
    height: 5px;
    border: solid 1px #8098ff ;
    position: absolute;
    bottom:  20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
    box-shadow: 3px 3px 3px black;
    
    
}


#linea{
    
    background: #2a82ff;
    height: 100%;
    
    
}